body {
  font-family: 'Ubuntu', sans-serif;
}
body #content {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/colorBackground.jpg');
  background-size: 100% 100%;
  color: #FFFFFF;
}